<h1>Listing pins</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Image</th>
			<th>Description</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	
	<% @pins.each do |pin| %>
		<% @the_pin = pin %>
		<tr>
			<% render 'pins/pin' %>
			<td><%= image_tag pin.image %></td>
			<td><%= pin.description %></td>
			<td><%= link_to 'Show', pin %></td>
				<% if current_user == pin.user %>
					<td><%= link_to 'Edit', edit_pin_path(pin) %></td>
					<td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
		</tr>
	<% end %>
		<% render @pins %>
	</tbody>
	
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
